$main-color: #324057;
$content-color: #F9FAFC;
$big-size: 26px;
$top-bar-height: 60px;
$border-color: #d5d5d5;
$warn-color: yellow;
$error-color: red;
$success-color: green;
$normal-padding:8px 12px;
$normal-size:16px;